<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/404error.css">
  </head>
    <body>
        <div id="b">
            <div id="c">
                <h1 style="font-family:Roboto Bold Italic; font-size:700%;color:rgb(49, 49, 51);">404</h1>
                <div id="d">
                </div>
                
            </div>
        </div>
        <h3 id="e" style="font-family:Arial, Helvetica, sans-serif; font-size:120%;color:grey;">
            Adresa URL solicitată nu a fost gasită pe acest server.
        </h3>
        <div id="f" style="background-image: url('../static/images/sad.png');">

        </div>
    </body>

</html>