<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Favicon code-->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='images/apple-touch-icon.png') }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='images/favicon-32x32.png') }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='images/favicon-16x16.png') }}" />
  <link rel="manifest" href="{{ url_for('static',filename='images/site.webmanifest') }}" />
  <link rel="mask-icon" href="{{ url_for('static',filename='images/safari-pinned-tab.svg') }}" color="#0066cc" />
  <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" />
  <meta name="apple-mobile-web-app-title" content="VoteBoat" />
  <meta name="application-name" content="VoteBoat" />
  <meta name="msapplication-TileColor" content="#0066cc" />
  <meta name="msapplication-config" content="{{ url_for('static',filename='images/browserconfig.xml') }}" />
  <meta name="theme-color" content="#ffffff" />
  <!--Favicon code end-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" type="text/css" media="all" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/animatie.css') }}" type="text/css" media="all" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Raleway:wght@400;500&family=Roboto&family=Open+Sans&display=swap"
    rel="stylesheet" />
  <title>VoteBoat</title>
</head>

<body class="noScroll">
  <div>
    <div id="container">
      <div id="banner"></div>
      <div class="menu">
        <a href="/" class="linkLogo">
          <img src="{{ url_for('static',filename='images/logo.svg') }}" height="72px" />
          <div class="nameLogo">VoteBoat</div>
        </a>
      </div>
      <!-- End of Nav Div -->
      <div class="header">
        <div id="continut1">
          <div style="padding: 210px 210px 110px 210px;z-index: 100000">
            <div id="continut2">
              <div style="padding: 0px 20px 20px 20px">
                <div id="login" class="poll">
                  <div id="titluri">
                    <p class="titluP">Creare vot</p>
                    <hr>
                    <p class="titluS">Participă la vot</p>
                  </div>

                  <div id="newContent">
                    <div class="vot">
                      <form style="width: 350px;" onsubmit="return false;">
                        <div class="form-group">
                          <label for="titluPoll" class="voteOpt">Titlu</label>
                          <input type="text" id="titluPoll" class="form-control" name="PollTitle" placeholder="Titlu" />
                        </div>
                        <div class="form-group optionsSCR">
                          <ol class="lista"> </ol>
                        </div>	
                        <div class="formbutoane">
                          <div class="inputopt">
                            <input type="text" id="addoptiune" class="form-control" placeholder="Adauga o op?iune">
                          </div>
                          <div class="btnopt">
                            <button type="button" id="addBtn" class="btn btn-primary btnAlignLNP">Adăugare
                              Opțiune</button>
                            <button type="submit" id="createVote" class="btn btn-primary btnAlignRNP">Creare
                              Vot</button>
                          </div>
                        </div>
                      </form>
                    </div>

                    <div class="barasep">
                      <hr>
                    </div>

                    <div class="conectarevot">
                      <div id="ballot">
                        <img class="svgWhite" src="{{ url_for('static',filename='images/voting.svg') }}"
                          width="150px" />
                      </div>
                      <br><br>
                      <div class="btnconectare">
                        <input type="text" id="conectare" class="form-control" placeholder="Cod vot">
                        <br>
                        <button type="button" id="connect" class="btn btn-primary btncnt">Conectare</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Waves Container-->
        <div>
          <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
              <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
              <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
              <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
              <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
              <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
          </svg>
        </div>
        <!--Waves end aici a fost Denis-->
      </div>
    </div>
  </div>
  <!--Header ends-->
  <!-- partial -->

  <!-- Bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!--Bootstrap scripts end-->
  <script
      type="text/javascript"
      src="../static/js/jsfrontend/functie adaugsre optiune.js"
    ></script>
</body>

</html>