body{
    background-color: rgb(243, 242, 242);
}

#a{
    height: 100%;
    width: 700px
}

#b{
    height: 250px;
     width: 550px; 
     background-color:rgb(255, 255, 255);
     justify-items: center;
     margin-left: 700px;
     margin-top: 350px;
     border-radius: 10px;
     box-shadow: 1px 1px 15px 1px rgb(39, 39, 39);
     opacity: 55%;
     display: flex;
}

#c{
    height: 0px;
    width: 2px;
    background: grey;
    position: relative;
    margin-left: 30px;
    border-right: 12px white;
    display: flex;
    margin-top: -20px;
}

#d{
    height: 220px;
    width: 5px; 
    margin-left: 30px;
    position: absolute;
    background-color: rgb(34, 34, 34);
    left: 170px;
    top: 35px;
    border-radius: 5px;
}

#e{
    height: 250px;
    width: 250px; 
    margin-left: 30px;
    border-right: 12px white;
    display: flex;
    position: absolute;
    top: 360px;
    left: 940px;
}

#f{
    height: 150px;
    width: 150px; 
    margin-left: 30px;
    border-right: 12px white;
    display: flex;
    position: absolute;
    top: 435px;
    left: 990px;
}